* {
    box-sizing: border-box;
  }

body{

  background-image: url(https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) ;
}
h2{
    margin-top: 4%;
    margin-left: 6%;
    color: #00b0f0;
    background-color: white;
    /* font-style: bold; */
    font-weight: 600;
}

header h2 {
    color: white;
    font-weight: normal;
    border-style: inset;
    border-color: #007bff;
    border-width: 3px;
    padding-right: 16px;
    padding-left: 4px;
    background-color: #00b0f0 ;
}

header h2 #portfolio{
    text-align: center;
}
header{
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #00b0f0;
}



p{
    font-family: Arial, Helvetica, sans-serif;
    color: 	#2F4F4F;
}
#grad{

    border-style: solid;
    border-width: 5px;
    border-color: #00b0f0;
    
}

#rightbord{
    border-right-style: solid;
    border-width: 1px;
}

footer{
    background-color: gray;
    border-top: #00b0f0;
    border-top-style: solid;
    border-width: 12px;
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
    text-align: center;
}

footer p{
    margin-top: 14px;
    font-size: 10px;
}
.card{
    margin-left: 20px;
    margin-bottom: 90px;
}