* {
    box-sizing: border-box;
  }

body{

  background-image: url(https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) ;
}
h2{
    margin-top: 1%;
    margin-left: 6%;
    color: white;
    font-style: bold;
}

header h2 {
    color: white;
}

.container{
    background-color: indianred;
    width: 60%;
    float: left;
    margin-left: 2.5%;
    border-style: double;
}

#bot{
    margin-left: 3%;
}